/* Start Header */
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header-container .dynamic-txts h1 {
  color: var(--color-primary);
}

/* Start CTA */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* End CTA */
/* Start Header Socials */
.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header-socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
/* End Header Socials */
/* Start IMAGE */
.me {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.me img {
  border-radius: 12rem 12rem 0 0;
  position: absolute;
  width: 17rem;
  height: 20rem;
}

/* End IMAGE */

/* Start Scroll Down */
.scroll-down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}
/* End Scroll Down */

/* Start Media Queries(Meduim) */
@media (max-width: 1024px) {
  header {
    height: 100vh;
  }
}
/* End Media Queries(Meduim) */
/* Start Media Queries(Small) */
@media (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header-socials,
  .scroll-down {
    display: none;
  }
}
/* End Media Queries(Small) */

/* End Header */
